<!-- FILEPATH: /c:/Users/IVA/Desktop/fh-angular/angular-my-dashboard-02/angular-my-dashboard/src/app/dashboard/pages/planes/planes.component.html -->

<h1>Planes del Gimnasio</h1>

<div class=" bg-white rounded shadow p-10" >
  <h2>Plan 1</h2>
  <p>Descripción del plan 1</p>
  <p>Precio: $X</p>
</div>

<div class=" bg-white rounded shadow p-10" style="background-color: #00ff0059;">
  <h2>Plan 2</h2>
  <p>Descripción del plan 2</p>
  <p>Precio: $X</p>
</div>

<div class=" bg-white rounded shadow p-10" style="background-color: #0000ff6b;">
  <h2>Plan 3</h2>
  <p>Descripción del plan 3</p>
  <p>Precio: $X</p>
</div>

<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  h1 {
    color: blue;
    font-size: 24px;
    margin-bottom: 20px;
  }

  h2 {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    color: black;
    font-size: 14px;
    margin-bottom: 5px;
  }
</style>
