
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .actions button {
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
  }

  .actions button.editar {
    background-color: #2196F3;
  }

  .actions button.ver {
    background-color: #135a45dc;
  }

  .actions button.eliminar {
    background-color: #F44336;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Estado</th>
      <th>Plan</th>
      <th>Entrenador</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Jose</td>
      <td>Mejia</td>
      <td>j&copy;gmail.com</td>
      <td>3226763246</td>
      <td>Calle 7 # 4d</td>
      <td>Activo</td>
      <td>01</td>
      <td>15</td>

      <td class="actions">
        <button class="ver">Ver</button>
        <button class="editar">Editar</button>
        <button class="eliminar">Eliminar</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Smith</td>
      <td>Ospino</td>
      <td>s_&copy;gmail.com</td>
      <td>3005784512</td>
      <td>Mz 66 casa 8</td>
      <td>activo</td>
      <td>02</td>
      <td>25</td>
      <td class="actions">
        <button class="ver">Ver</button>
        <button class="editar">Editar</button>
        <button class="eliminar">Eliminar</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Johnson</td>
      <td>Maestre</td>
      <td>jh.&copy;gmail.com</td>
      <td>3102784577</td>
      <td>calle 12 N 13b</td>
      <td>activo</td>
      <td>03</td>
      <td>35</td>
      <td class="actions">
        <button class="ver">Ver</button>
        <button class="editar">Editar</button>
        <button class="eliminar">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
